/*MONTLY*/
.card-content{
    position: relative;
    top: 20px;
}
.card-pago{
    background: white;
}
@media screen and (max-width: 768px) {
    .card{
        width: 200px !important;
        height: 380px !important;
     ;
     }
  /*PRODUCTS*/
    .container h5{
        font-size: 13px;
    }
    .container p{
        font-size: 11px;
    }
}
@media screen and (max-width: 380px) {
    .card{
        width: 180px !important;
        height: 330px !important;
     ;
     }
}


